@font-face {
  font-family: 'Andale Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Andale Mono'), url('https://fonts.cdnfonts.com/s/14985/ANDALEMO.woff') format('woff');
}
* {
font-family: 'Andale Mono', sans-serif;
font-weight: normal;
text-transform: uppercase;
}

body, html {
background-color: #000;
padding:0;margin:0;outline:0;
color:#fff;
}

a {
  color:#c1c1c1;
  text-decoration: none;
}

.latest a{
  color:#ffc700;
}

a:hover {
  color:#ffffff;
  text-decoration: none;
}

#content {
padding:1vw;
}

h1 {
margin:0;font-size:4.4vw;
}
h2 {
margin:0;font-size:2vw;
}
#list {
margin: 0.75rem 0 1vw 0;

}
.listitem.past {
border-left: #8b7b3f solid 5px;
color:#c1c1c1;
}
.listitem.latest {
border-left: #ffc700 solid 5px;
color:#ffc700;
}
.listitem.future {
border-left: #ff0413 solid 5px;
color: #ff0413;
}
.listitem.discord {
border-left: #45a7f7 solid 5px;
color: #45a7f7;
border-image: linear-gradient(180deg,red,#00b9ff) 1 100%;
}
.listitem.discord a{
color: #45a7f7;
}
.listitem {
padding: 0 1vw 0 1vw;
margin:0;
-webkit-user-select: none;       
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.listitem.past.hovereffect:hover, .listitem.future.hovereffect:hover {
color:#fff;
}
.listitem h1, .listitem h2 {
display: inline-block;
}
.listitem h1 {
line-height:4.96vw;
}
.listitem h2 {
margin-right: -0.5vw;
}